@import "normalize.css";
@import './shared.css';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 16px/1.6 'Avenir Next', sans-serif;
  background: #fafafa;
}

a {
  text-decoration: none;
  color: #0645ad;
  &:hover {
    text-decoration: underline;
  }
}

pre {
  padding: 20px;
  background: #eee;
  font: 13px/1.6 Monaco, sans-serif;
}

fieldset {
  border: 1px solid #ddd;
}
